/* body {
    box-sizing: border-box;
    max-width: 100%;
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: coral;
} */

.bg-light-blue {
    background-color:rgb(226, 242, 243)
}

.border-bottom-2 {
    border-bottom: 2px solid black;
}

input {
    text-transform:capitalize;
    font-weight: 600;
}

/* .border-3 {
    border: 3px solid red;
} */

/* @media screen and (min-width: 1500px){
.s-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
} */

 /*  width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: yellow;
 */
/* #detailTopDiv {
    margin: auto;    
    width: 95%;    
    background-color: #404040;
    color: #ffffff;
    border:2px solid black;
    padding: 1px;
    font-size: 1em;
    text-align: center;
} */

/* #detailH2 {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 2.5em;
    color:rgb(55, 55, 55);
}
 */
/* #detailDiv {
    width: 95%;      
    margin:auto;
} */

/* #detailName {
    font-weight: 900;
    font-size: 1.5em;
    color:rgb(55, 55, 55);
} */

/* #detailValue {
    font-weight: 600;
    font-size: 1em;
    color:rgb(12, 12, 12);
} */

/* footer {
    margin:auto;
    width: 95%; 
    clear: both;
    text-align: center;
    background-color: #404040;
    color: #ffffff;
    padding: 1px;    
} */

/* form {
    margin:auto;    
    margin-top: 0px;    
} */

/* #imgFull {
    border: 1px solid black;
    border-radius: 3px;
    float: left;
    margin: 2px 15px 2px 4px;    
} */

/* #imgThumb {
    border-radius: 2px;
    height: 80px;
    width: Auto;    
} */

/* #imgThumb:hover {
    box-shadow: 0px 0px 2px 2px grey;
} */

/* #indexHeaderDiv {
    margin: auto;    
    width: 95%;    
    background-color: #404040;
    color: #ffffff;
    border:2px solid black;
    padding: 1px;
    font-size: 1em;
    text-align: center;
    margin-bottom: 0px;
} */

/* input {
    padding: 3px;
} */

/* #list {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;    
} */

/* #pageHeader {
 max-width: 50%;
} */

/* #table {
    border: 3px solid black;
    
    margin:auto;
    margin-top: 0px;
} */

/* th {
    padding: .5em;
    width: 150px;
    background-color: #c1e3f3;
    border: 2px solid black;
    border-collapse: collapse;
}
 */
/* td {
    border: 1px solid black;
    text-align: center;
    padding: 4px 0px 0px 0px;
    background-color:rgb(240, 232, 211);
} */

