/* version 3.0 table added */
.main-container {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: .9em;
	color: #1e2a28;
	width: 740px;
	margin: 0 auto;
	padding: 0px 20px 20px 20px;
}

.main-container table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 30px;
}

.main-container td, .main-container th {
	text-align: left;
	padding: 8px;
}

.main-container h1 {
	font-weight: normal;
}

input[type=text].main-input, .main-container input,
	.main-container textarea, .main-container select, .main-input,
	.main-select {
	box-sizing: border-box;
	width: 95%;
	height: initial;
	padding: 8px 5px;
	border: 1px solid #9a9a9a;
	border-radius: 3px;
}

.main-container input[type="checkbox"] {
	width: auto;
	vertical-align: text-bottom;
	display: initial;
	opacity: initial;
	position: inherit;
	pointer-events: initial;
}

.main-container textarea, .main-textarea {
	width: 95%;
}

.main-container select, .main-select {
	display: initial;
	height: 30px;
	background-color: #fff;
	padding: 2px 5px;
}

.main-container button, .main-container input[type=submit] {
	padding: 8px 0px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 3px;
	color: #565656;
	font-weight: bold;
	background-color: #ffc72c;
	border-color: #ffd98e #ffbe3d #de9300;
}

.main-container button, .main-container input[type=submit]:hover {
	background-color: #f7c027;
}

.main-container button:focus {
	outline: none;
}

.main-container .main-row {
	padding-top: 15px;
}

#main-message {
	padding: 6px 20px;
	font-size: 1em;
	color: rgb(40, 40, 40);
	box-sizing: border-box;
	margin: 0px;
	border-radius: 3px;
	width: 100%;
	overflow: auto;
}

.main-container .error {
	padding: 6px 20px;
	border-radius: 3px;
	background-color: #fb817c;
	border: 1px solid #e46b66;
}

.main-container .success {
	background-color: #48e0a4;
	border: #40cc94 1px solid;
}

#main-loader-icon {
	color: #1871e6;
	font-weight: bold;
	padding: 6px 20px 6px 0;
	display: none;
	vertical-align: middle;
}

#main-loader-ack-icon {
	color: #1871e6;
	font-weight: bold;
	padding: 6px 20px 6px 0;
	display: none;
	vertical-align: middle;
}

#main-btn-send:hover {
	background: #1363cc;
	border: #105bbd 1px solid;
}

.main-container .validation-message {
	color: #e20900;
	display: inline-block;
}

.main-container .label {
	margin-bottom: 3px;
}

.main-form, .main-section {
	border: #eaeaea 1px solid;
	padding: 10px 25px 10px 30px;
	border-radius: 3px;
}

.main-container .display-none {
	display: none;
}

.icon-add-more-attachemnt {
	cursor: pointer;
	font-style: italic;
	font-size: .9em;
}

.inline-block {
	display: inline-block;
}

@media all and (max-width: 780px) {
	.main-container {
		width: 95%;
	}
}

@media all and (max-width: 400px) {
	.main-container {
		padding: 0px 20px;
	}
	.main-container h1 {
		font-size: 1.2em;
	}
	.main-container input, .main-container textarea, .main-container select
		{
		width: 100%;
	}
	.main-form {
		border: none;
		padding: 0;
	}
}